/* @tomedwardsmith: Main stylesheet. Resets based on Skeleton resets: see below */
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "Raleway-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #000;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #1d1d1b;
		font-family: "Raleway-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 36px; line-height: 40px; margin-bottom: 14px;}
	h2 { font-size: 28px; line-height: 36px; margin-bottom: 10px; }
	h3 { font-size: 20px; line-height: 30px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #1d1d1b; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 20px 0px; height: 0; }


/* #Links
================================================== */
	a, a:visited { 
		color: #000; 
		outline: 0; 
		text-decoration: none; 
		border-bottom:1px solid #777;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	a:hover, a:focus { border-bottom: 1px solid transparent;}
	p a, p a:visited { line-height: inherit; }

	a.image-link, a.image-link:visited {border-bottom:none;}
	a.image-link:hover, a.image-link:focus {border-bottom:none;}

/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	a.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background-color: #fff; 
	  	border: 1px solid #000;
	  	color: #000;
	  	display: inline-block;
	  	font-size: 16px;
	  	font-weight:normal;
	  	text-decoration: none;
	  	text-transform: uppercase;
	  	text-shadow: 1px 1px 5px transparent;
	  	cursor: pointer;
	  	margin-bottom: 0px;
	  	line-height: normal;
	  	padding: 8px 15px 8px 15px;
		font-family: "Raleway-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		overflow: hidden;
		position:relative;
		z-index:1;
	 }

	.button:after,
	a.button:after,
	button:after,
	input[type="submit"]:after,
	input[type="reset"]:after,
	input[type="button"]:after {
   		content: url(/img/button-bg.png);
    	filter:alpha(opacity=0);
    	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    	opacity:0;
    	position:absolute;
    	top:0px;
    	left:0px;
		-webkit-transition: opacity 0.2s linear;
		-moz-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;
		z-index:-1;
	}

	.button:hover,
	a.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
	  	border: 1px solid transparent;
	  	text-shadow: 1px 1px 5px #eee;
	}

	.button:hover:after,
	a.button:hover:after,
	button:hover:after,
	input[type="submit"]:hover:after,
	input[type="reset"]:hover:after,
	input[type="button"]:hover:after {
    	filter:alpha(opacity=100);
    	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1.0);
    	opacity:1.0;
	}


	.button:active,
	a.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {

	}

	.button:focus,
	a.button:focus,
	button:focus,
	input[type="submit"]:focus,
	input[type="reset"]:focus,
	input[type="button"]:focus {
		outline:none;
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; 
	}

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    	border: 0;
    	padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "Raleway-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

	/* Extensions to skeleton */
	span.required  {color: red; font-size: 20px; line-height: normal;}
	div.field.honey-trap {position: absolute; left: -5000px;}
	label.error {color:red;}
	label.valid {color:green;}

	input[type="text"].error,
	input[type="password"].error,
	input[type="email"].error,
	textarea.error,
	select.error {
		border: 1px solid red;
 		-moz-box-shadow: 0 0 3px red;
		-webkit-box-shadow: 0 0 3px red;
		box-shadow:  0 0 3px red; 
	}

	div.field.radio {margin-bottom:20px;}
	div.field.radio div {display:inline;}
	div.field.radio div span {padding-right:10px;}


/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

/* #Site Styles
================================================== */

	/* HEADER */
	#header #logo-container a, #header #logo-container a:visited {border-bottom:none;}
	#header #logo-container a:hover, #header #logo-container a:focus { border-bottom:none;}
	#header #social-links {
		text-align: right; 
		margin-top:10px; 
		font-size:11px;}
 
	/* NAVIGATION */
	#navigation #main-nav {display:block; margin:15px 0px 0px 0px;}
	#navigation #main-nav li {display:block; float:left; margin:0px 20px 0px 20px;}
	#navigation #main-nav li.first {margin-left:0px;}
	#navigation #main-nav li.last {margin-right:0px;}
	#navigation #main-nav li a {text-transform: uppercase;}
	#navigation #main-nav li a, #navigation #main-nav li a:visited {border-bottom:1px solid transparent;}
	#navigation #main-nav li a:hover, #navigation #main-nav li a:focus { border-bottom: 1px solid #777;}

	/* LAYOUT */
	#main {margin-top:50px; margin-bottom:30px;}
	.spinner {
		display:block; 
		margin:0 auto; 
		background:url('/img/spinner.gif') no-repeat 0px 0px;
		width:32px;
		height:32px;
	}
	div.center {text-align:center;}
	#no-script, #old-ie 
	{
		width:40%;
		height:50%;
		min-height:200px;
		top:25%;
		left:25%;
		display:block;
		position:fixed;
		text-align: center;
		background-color: #fff;
		z-index:10;
		border:3px solid red;
		padding-left:5%;
		padding-right:5%;		
	}
	#no-script span, #old-ie span {
		display:block; 
		position:relative; 
		top:50%;
	  	-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
		color:red;
		font-size: 28px;
		line-height: 36px;
	}


	/* ANCHOR NAV */
	nav.anchors {margin-bottom:30px;}
	nav.anchors a {
		display:block;
		padding-left:20px;
	}
	nav.anchors a:before {content:'- ';}

	nav.anchors a, nav.anchors a:visited { 
		border-bottom:none;
	}
	nav.anchors a:hover, nav.anchors a:focus { border-bottom: none;}
	nav.anchors a span, nav.anchors a:visited span { 
		border-bottom:1px solid #777;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	nav.anchors a:hover span, nav.anchors a:focus span, nav.anchors a span:hover, nav.anchors a span:focus { border-bottom: 1px solid transparent;}

	/* SIDEBAR */
	#sidebar {}
	#sidebar .next-event, #sidebar .sign-up, #sidebar .linkedin, #sidebar .twitter-container {margin-bottom:20px;}

	/* Next Event */
	.next-event {}
	.next-event h2 {}
	.next-event p {}

	/* Sign up */
	.sign-up {}
	.sign-up a.button {}

	/* Linked In */
	.linkedin {}
	.linkedin h2 {}

	/* Twitter Feed */
	#twitter-feed {}
	#twitter-feed ul {}
	#twitter-feed ul li {}
	#twitter-feed ul li .user {clear:both; display: block; overflow: hidden; margin-bottom:10px;}
	#twitter-feed ul li .user a {border-bottom:none;}
	#twitter-feed ul li .user a:hover {border-bottom:none;}
	#twitter-feed ul li .user a img {float:left; display:block;}
	#twitter-feed ul li .user a span {display:block; text-align:right;}
	#twitter-feed ul li .tweet {font-size:12px; line-height:18px; margin-bottom:0px; padding-bottom:10px;}
	#twitter-feed ul li .tweet:before {content:'\00201C'; font-size: 20px; line-height:18px;} 
	#twitter-feed ul li .tweet:after {content:'\00201D'; font-size: 20px; line-height:18px;}

	/* FOOTER */
	footer {font-size:11px;}
	footer .container {margin-bottom:10px;}
	footer .container #copyright {}
	footer .container #credits {text-align:right;}
	footer p {margin-bottom:0px;}

	/* HOMEPAGE */
	#grumblr {}
	#grumblr p img {}
	#grumblr p.grumblr-link {} 

	/* LYCP LOVES LONDON */
	.row.loves {padding-top:15px; border-top:1px solid #ddd;}
	.row.loves div {
		width:165px; 
		display: block; 
		float: left;
		padding-left:5px;
		padding-right:5px;
	}
	.row.loves div:nth-child(1) {width:135px; padding-left:0px;}
	.row.loves div:nth-child(2) {width:165px;}
	.row.loves div:nth-child(3) {width:130px;}
	.row.loves div:nth-child(4) {width:240px; padding-right:0px;}

	/* EVENTS */
	#special-events-list {}
	#special-events-list .special-event {margin-bottom:20px;}
	#special-events-list .special-event .event-intro .buttoncontainer {text-align: right;}
	#special-events-list .special-event .description {
		border:1px solid #ddd;
		width:94%;
		padding:20px 3% 0px 3%;
	}

	/* SIGNUP */
	#signup-form p.status {font-weight: bold;}
	#signup-form p.status.error {color:red;}
	#signup-form p.status.valid {color:green;}
	#signup-form div.organisation, #signup-form div.role {display:none;}

	


